PORT=8000
# swag init -g cmd/api/main.go -o docs #gerar swagger docs
AUTO_MIGRATE=false
FILES_BASE_PATH="./uploads"
PRODUCTION=false

STORAGE_PATH='uploads'

DB_USER = 'postgres'
DB_PASSWORD = 'root'
DB_HOST = 'localhost'
DB_PORT = 5432
DB_NAME = 'email-manager'
DB_SCHEMA = 'email_manager'

KAFKA_SERVERS=192.168.159.165:9092
KAFKA_CLIENT_ID=pormade-email-manager

EMAIL_API_TOKEN=123456
EMAIL_PROVIDER_BASE_URL=
EMAIL_FROM=mailgateway.api@pormade.com.br